<section class="application" id="application-host">
  <div class="gl__page-content">
    <div class="application__content gl-border-section__content">
      <img src="img/common/sign-logo-fly-red.png" alt="" class="application__content-image">

      <div class="application__content-main">
        <h2 class="gl-border-section__title">Остались вопросы?</h2>
        <div class="gl-border-section__subtitle">Заполните данные и наши специалисты свяжутся с вами</div>

        <form class="application__form">
          {{> common/input-main
            type="tel"
            placeholder="+7 000 000-00-00"
            name="application-tel"
          }}
          {{> common/input-main
            type="text"
            placeholder="0 ₽"
            name="application-price"
          }}

          <button type="submit" class="gl__main-btn application__btn-submit">Продолжить</button>
        </form>
      </div>

      <div class="gl__form-hint">
        Нажимая кнопку «Продолжить», вы принимаете условия <a href="" class="link">пользовательского соглашения</a>
      </div>
    </div>
  </div>
</section>
