<section class="beautiful-phone-fly" id="beautiful-phone-fly-host">
  <div class="gl__page-content">
    <div class="beautiful-phone-fly__content-container">
      <img src="img/common/sign-logo-fly-red.png" alt="" class="beautiful-phone-fly-background">

      <div class="beautiful-phone-fly__content-wrapper">
        <div class="beautiful-phone-fly__title">Переходите на «Летай» со своим номером</div>

        <div class="beautiful-phone-fly__phone-wrapper-container">
          <div class="beautiful-phone-fly__phone-caption">Введите номер для переноса</div>

          <div class="beautiful-phone-fly__phone-wrapper">
            <div class="beautiful-phone-fly__phone">
              +7 <span class="fake-placeholder">000 000-00-00</span>
            </div>
            <button type="button" class="beautiful-phone-fly-bnt">→</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
