<section class="beautiful-phone" id="beautiful-phone-host">
  <div class="gl__page-content">
    <div class="beautiful-phone__content gl-border-section__content">
      <h2 class="gl-border-section__title">Красивый номер</h2>
      <div class="gl-border-section__subtitle">Выберете номер с любимыми цифрами</div>

      <div class="beautiful-phone__phone-wrapper">
        <div class="beautiful-phone__phone">
          <span class="fix-elem">+7 939</span>
          <span class="generate-elem">777-88-99</span>
        </div>

        <button type="button" class="beautiful-phone__bnt-generate">
          <span class="beautiful-phone__bnt-generate-icon-wrapper">
          <img src="img/main-page/beautiful-phone/generate.svg" alt="" class="beautiful-phone__bnt-generate-icon">
          </span>
          <span class="beautiful-phone__bnt-generate-text">Показать другой</span>
        </button>
      </div>

      <div class="beautiful-phone__btns-container">
        <a href="" class="gl__main-btn mod-transparent beautiful-phone__main-btn">
          Смотреть всё
        </a>
        <button type="button" class="gl__main-btn beautiful-phone__main-btn">
          Забрать себе за 399 ₽
        </button>
      </div>
    </div>
  </div>
</section>
