<section class="rates-preview" id="rates-preview-host">
  <img src="img/main-page/rates-preview/rates-preview-1.jpg" alt="" class="rates-preview__main-image">
  <div class="gl__page-content rates-preview__content-wrapper">
    <div class="rates-preview__content">
      <div class="rates-preview__content-title">Тариф «Летай.Оранжевый»</div>
      <div class="rates-preview__content-subtitle">Выжми скорость</div>
      <div class="rates-preview__content-caption">Мощный интернет + ТВ 160 каналов</div>
      <button type="button" class="gl__main-btn">Подробнее</button>
    </div>
  </div>
</section>
