<section class="services" id="services-host">
  <div class="gl__page-content">
    <ul class="services__list">
      <li class="services__item-wrapper gl__white-container">
        <h3 class="services__item-info-title">Быстрое пополнение счета</h3>

        <div class="services__radio-btns-container">
          <label class="services__radio-wrapper">
            <input type="radio" class="services__radio" name="adding-funds-account">
            <span class="services__radio-content">Мобильная связь</span>
          </label>
          <label class="services__radio-wrapper">
            <input type="radio" class="services__radio" name="adding-funds-account">
            <span class="services__radio-content">Интернет</span>
          </label>
          <label class="services__radio-wrapper">
            <input type="radio" class="services__radio" name="adding-funds-account">
            <span class="services__radio-content">Телевидение</span>
          </label>
        </div>

        <form class="services__form-wrapper">
          <div class="services__form-inputs-wrapper">
            {{> common/input-main
              type="tel"
              inputTitle="Введите номер"
              placeholder="+7 (___)  ___-__-__"
              name="services-tel"
            }}
            {{> common/input-main
              type="number"
              inputTitle="От 10 до 30 000 Р"
              placeholder="Сумма"
              name="services-summ"
            }}
            <button type="submit" class="gl__main-btn services__btn-submit">Продолжить</button>
          </div>

          <div class="services__form-hint">
            Нажимая кнопку «Продолжить», вы принимаете условия пользовательского соглашения.
          </div>
        </form>
      </li>

      <li class="services__item-wrapper gl__white-container">
        <h3 class="services__item-info-title">Личный кабинет</h3>
        <div class="services__item-info-container">
          <div class="services__item-info-content">
            <div class="services__item-info-text">
              Максимум возможностей для управления счётом и услугами
            </div>
            <button type="button" class="services__item-info-btn">
              <span class="services__item-info-btn-text">Войти</span>
              <svg width="40" height="40" aria-hidden="true" class="services__item-info-btn-icon">
                <use xlink:href="#arrow-line-right"></use>
              </svg>
            </button>
          </div>
          <img src="img/main-page/services/ellipse-image-1.svg" alt="" class="services__item-info-image">
        </div>
      </li>

      <li class="services__item-wrapper gl__white-container">
        <h3 class="services__item-info-title">Красивые номера</h3>
        <div class="services__item-info-container">
          <div class="services__item-info-content">
            <div class="services__item-info-text">
              Выберете номер с любимыми цифрами
            </div>
            <button type="button" class="services__item-info-btn">
              <span class="services__item-info-btn-text">Подобрать</span>
              <svg width="40" height="40" aria-hidden="true" class="services__item-info-btn-icon">
                <use xlink:href="#arrow-line-right"></use>
              </svg>
            </button>
          </div>
          <img src="img/main-page/services/ellipse-image-2.svg" alt="" class="services__item-info-image">
        </div>
      </li>

      <li class="services__item-wrapper gl__white-container mod-painted">
        <h3 class="services__item-info-title">
          <img src="img/common/sign-logo-fly.svg" alt="" class="services__item-info-title-icon">
          Переходите на “Летай” со своим номером
        </h3>

        <form class="services__form-wrapper">
          <div class="services__form-inputs-wrapper">
            {{> common/input-main
              type="tel"
              inputTitle="Введите номер переноса"
              placeholder="+7 (___)  ___-__-__"
              name="services-tel-transfer"
            }}
            {{> common/input-main
              type="text"
              inputTitle="Укажите город проживания"
              placeholder="Казань"
              name="services-city"
            }}
            <button type="submit" class="gl__main-btn mod-transparent services__btn-submit">Начать перенос</button>
          </div>

          <label class="checkbox__wrapper services__checkbox">
            <input type="checkbox" class="checkbox">
            <span class="checkbox__content"></span>
            <span class="checkbox__text">Я соглашаюсь на получение консультации по переносу номера</span>
          </label>
        </form>
      </li>
    </ul>
  </div>
</section>
