.gl-slider__container {
  position: relative;
}

.gl-slider__wrapper {
  display: flex;
}

.gl-slider__slide {
  width: 100%;
  & + & {
    margin-left: 6rem;
  }
}

.gl-slider__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.mod-prev {
    left: -6.6rem;
  }

  &.mod-next {
    right: -6.6rem;
  }
}

.gl-slider__slider-btn-icon {
  height: 2.4rem;
}
