<section class="beautiful-phone-fly" id="beautiful-phone-fly-host">
  <div class="gl__page-content">
    <div class="beautiful-phone-fly__content">
      <div class="beautiful-phone-fly__title">Переходите на «Летай» со своим номером</div>
    </div>
  </div>
</section>
