<footer class="footer" id="footer-host">
  <div class="gl__page-content">
    <div class="footer__top-block">
      <div class="footer__top-grid-wrapper">
        <div class="footer__top-grid-item">
          <div class="footer__link-title">Таттелеком</div>
          <ul class="footer__links-list">
            <li class="footer__link-item">
              <a href="" class="footer__link">О компании</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Пресс-центр</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Работа в компании</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Акционерам и инвесторам</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Структурные подразделения</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Контактная информация</a>
            </li>
          </ul>
        </div>

        <div class="footer__top-grid-item">
          <div class="footer__link-title">Частным клиентам</div>
          <ul class="footer__links-list">
            <li class="footer__link-item">
              <a href="" class="footer__link">Мобильная связь</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Интернет</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Телевидение</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Каталог устройств</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Домофония</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Видеонаблюдение</a>
            </li>
          </ul>
        </div>

        <div class="footer__top-grid-item">
          <div class="footer__link-title">Бизнесу</div>
          <ul class="footer__links-list">
            <li class="footer__link-item">
              <a href="" class="footer__link">Решения для бизнеса</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Мобильная связь</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Интернет в офис</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Телефония</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Цифровые сервисы</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Продвижение</a>
            </li>
          </ul>
        </div>

        <div class="footer__top-grid-item">
          <div class="footer__link-title">Партнерам</div>
          <ul class="footer__links-list">
            <li class="footer__link-item">
              <a href="" class="footer__link">Поставщикам</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Операторам связи</a>
            </li>
            <li class="footer__link-item">
              <a href="" class="footer__link">Дилерам</a>
            </li>
          </ul>
        </div>

        <div class="footer__top-grid-item mod-first-half-row">
          <ul class="footer__additional-info-links-list">
            <li class="footer__additional-info-link-item">
              <a href="" class="footer__additional-info-link">Раскрытие информации</a>
            </li>
            <li class="footer__additional-info-link-item">
              <a href="" class="footer__additional-info-link">Лицензии и сертификаты</a>
            </li>
            <li class="footer__additional-info-link-item">
              <a href="" class="footer__additional-info-link">Закупки</a>
            </li>
            <li class="footer__additional-info-link-item">
              <a href="" class="footer__additional-info-link">Приложения</a>
            </li>
          </ul>
        </div>

        <div class="footer__top-grid-item mod-second-half-row">
          <button type="button" class="gl__main-btn mod-dark-background footer__btn">Перейти в Летай</button>
        </div>
      </div>
    </div>

    <div class="footer__bottom-block">
      <div class="footer__bottom-block-info">
        <div class="footer__agreement-text">
          Продолжая использовать наш сайт, вы даете согласие на обработку файлов Cookies и других пользовательских
          данных, в соответствии с <a href="" class="footer__agreement-link">Политикой конфиденциальности</a>.
        </div>

        <div class="footer__copyright-wrapper">
          <div class="footer__copyright">
            © 2021 ПАО «Таттелеком».
          </div>

          <a href="" class="footer__markweber-link-wrapper">
            <span class="footer__markweber-link-text">Создание сайта</span>
            <img src="img/footer/markweber-logo.svg" alt="" class="footer__markweber-link-logo">
          </a>
        </div>
      </div>

      <div class="footer__bottom-block-contacts">
        <div class="footer__contacts-title">
          Контакт-центр:
        </div>
        <a href="tel:+78432222222" class="footer__contact-phone">
          (843) 222-22-22
        </a>
        <div class="footer__contact-social-wrapper">
          <a href="" class="footer__contact-social-link">
            <svg width="40" height="40" aria-hidden="true" class="footer__contact-social-icon">
              <use xlink:href="#vk-footer"></use>
            </svg>
          </a>
          <a href="" class="footer__contact-social-link">
            <svg width="40" height="40" aria-hidden="true" class="footer__contact-social-icon">
              <use xlink:href="#inst-footer"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
