<header class="header" id="header-host">
    <div class="header__top-block">
      <div class="gl__page-content">
        <div class="header__top-block-content">
        <ul class="header__top-menu-items-list">
          <li class="header__top-menu-items">
            <a href="" class="header__top-menu-items-link">Таттелеком</a>
          </li>
          <li class="header__top-menu-items">
            <a href="" class="header__top-menu-items-link">Частным клиентам</a>
          </li>
          <li class="header__top-menu-items">
            <a href="" class="header__top-menu-items-link">Бизнесу</a>
          </li>
          <li class="header__top-menu-items">
            <a href="" class="header__top-menu-items-link">Акции</a>
          </li>
          <li class="header__top-menu-items">
            <a href="" class="header__top-menu-items-link">Ещё</a>
          </li>
        </ul>

        <div class="header__top-block-right">
          <ul class="header__top-menu-items-list">
            <li class="header__top-menu-items">
              <a href="" class="header__top-menu-items-link">Поддержка</a>
            </li>
            <li class="header__top-menu-items">
              <a href="" class="header__top-menu-items-link">Офисы продаж</a>
            </li>
            <li class="header__top-menu-items">
              <a href="" class="header__top-menu-items-link">Оплата</a>
            </li>
          </ul>

          <div class="header__contacts-wrapper">
            <a href="" class="header__top-menu-items-link mod-with-icons">
              <svg width="20" height="20" aria-hidden="true" class="header__top-menu-items-link-icon">
                <use xlink:href="#geolocation"></use>
              </svg>
              Казань
            </a>
            <a href="" class="header__top-menu-items-link mod-with-icons">
              <svg width="20" height="20" aria-hidden="true" class="header__top-menu-items-link-icon">
                <use xlink:href="#lk"></use>
              </svg>
              Войти
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="header__bottom-block">
      <div class="gl__page-content header__bottom-block-content">
        <div class="header__logo-wrapper">
          <a href="" class="header__logo-link">
            <img src="img/header/logo-tat.svg" alt="" class="header__logo mod-tat">
          </a>
          <a href="" class="header__logo-link">
            <img src="img/header/logo-fly.svg" alt="" class="header__logo mod-fly">
          </a>
        </div>

        <div class="header__bottom-block-right">
          <ul class="header__bottom-menu-list">
            <li class="header__bottom-menu-item">
              <a href="" class="header__bottom-menu-link">Мобильная связь</a>
            </li>
            <li class="header__bottom-menu-item">
              <a href="" class="header__bottom-menu-link">Интернет</a>
            </li>
            <li class="header__bottom-menu-item">
              <a href="" class="header__bottom-menu-link">Телевидение</a>
            </li>
            <li class="header__bottom-menu-item">
              <a href="" class="header__bottom-menu-link">Домофон</a>
            </li>
            <li class="header__bottom-menu-item">
              <a href="" class="header__bottom-menu-link">Каталог устройств</a>
            </li>
          </ul>

          <div class="header__btns-container">
            <button type="button" class="header__bottom-btn header__btn-search">
              <svg width="30" height="30" aria-hidden="true" class="header__btn-search-icon">
                <use xlink:href="#search"></use>
              </svg>
            </button>
            <button type="button" class="header__bottom-btn gl__main-btn">
              Стать абонентом
            </button>
          </div>
        </div>
      </div>
    </div>
</header>
