<li class="gl-slider__slide gl__white-container useful-information__slide-wrapper">
  <a class="gl__link-arrow-container useful-information__slide">
    <div class="useful-information__slide-image-wrapper">
      <img src="{{ img }}" alt="" class="useful-information__slide-image">
    </div>
    <div class="gl__link-arrow-block useful-information__slide-content">
      <div class="useful-information__slide-content-text">
        {{ title }}
      </div>
      <div class="gl__link-arrow-wrapper">
        <div class="gl__link-arrow-link">
          <svg width="26" height="26" aria-hidden="true" class="gl__link-arrow-icon">
            <use xlink:href="#arrow-line-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </a>
</li>
