<li class="gl-slider__slide">
  <a href="" class="news-list__slide">
    <div class="news-list__slide-title">{{ slideTitle }}</div>
    <div class="news-list__slide-date">{{ slideDate }}</div>
  </a>
</li>
