<section class="news-list" id="news-list-host">
  <div class="gl__page-content">
    <div class="gl__title-head">
      <h2 class="gl__title">Новости</h2>
      {{> common/link-show-all text="Все новости" }}
    </div>

    <div class="gl-slider__container">
      <ul class="gl-slider__wrapper">
        {{> main-page/news-list/components/slide slideTitle="Провели праздник двора для жителей ЖК Салават Купере" slideDate="20 май" }}
        {{> main-page/news-list/components/slide slideTitle="Летай приглашает жителей Альметьевска на эстафету" slideDate="21 май" }}
        {{> main-page/news-list/components/slide slideTitle="Мы благодарим всех участников Летай Бонус и сообщаем о закрытии программы" slideDate="22 май" }}
      </ul>

      <button type="button" class="gl-slider__slider-btn mod-prev">
        <svg width="26" height="26" aria-hidden="true" class="gl-slider__slider-btn-icon">
          <use xlink:href="#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="gl-slider__slider-btn mod-next">
        <svg width="26" height="26" aria-hidden="true" class="gl-slider__slider-btn-icon">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
