<li class="rates-preview__slider-slide">
  <div class="rates-preview__slide-head">
    <div class="rates-preview__slide-title">{{ slideTitle }}</div>
    <div class="rates-preview__slide-subtitle">{{ slideSubtitle }}</div>
  </div>

  {{#if slideImage }}
    <img src="{{ slideImage }}" alt="" class="rates-preview__slide-background">
  {{/if}}
</li>
