<label class="gl-input__wrapper">
  {{#if inputTitle}}
    <span class="gl-input__title">{{ inputTitle }}</span>
  {{/if}}
  <input type="{{ type }}" class="gl-input__input" placeholder="{{ placeholder }}" name="{{ name }}">
</label>
