<section class="rates-list" id="rates-list-host">
  <div class="gl__page-content">

    <div class="gl__title-head">
      <h2 class="gl__title">
        Тарифы
      </h2>

      {{> common/menu-radio
        menuItemName="rates-list-menu"
        menuItemTitle1="Мобильная связь" menuItemTitle2="Интернет" menuItemTitle3="Телевидение"
      }}

      {{> common/link-show-all text="Все тарифы" }}
    </div>

    <div class="gl-slider__container">
      <ul class="gl-slider__wrapper">
        {{> main-page/rates-list/components/slide
          isHit=true
          title="Много минут"
          subtitle="Перейти по USSD *116*201#"
          calls1="100 Мбит/с безлимитного интернета"
          calls2="500 мин. звонки по РТ"
          calls3="300 мин. звонки по РФ"
          calls4="Безлимитные звонки на Летай"
          opportunities1="Смартфоны в рассрочку"
          opportunities2="Мощный Wi-Fi за 30 ₽"
          price="0"
        }}
        {{> main-page/rates-list/components/slide
          title="Много интернета"
          subtitle="Перейти по USSD *116*204#"
          calls1="Безлимитный интернет"
          calls2="200 мин. звонки по РТ"
          opportunities1="Смартфоны в рассрочку Кешбек 20%"
          price="240"
          pricePerMonth=true
        }}
        {{> main-page/rates-list/components/slide
          title="Много минут"
          subtitle="Перейти по USSD *116*201#"
          calls1="Безлимитный интернет"
          calls2="500 мин. звонки по РТ"
          calls3="300 мин. звонки по РФ"
          calls4="Безлимитные звонки на Летай"
          opportunities1="Смартфоны в рассрочку Кешбек 20%"
          price="350"
          pricePerMonth=true
        }}
        {{> main-page/rates-list/components/slide
          title="Много минут"
          subtitle="Перейти по USSD *116*201#"
          calls1="Безлимитный интернет"
          calls2="500 мин. звонки по РТ"
          calls3="300 мин. звонки по РФ"
          calls4="Безлимитные звонки на Летай"
          opportunities1="Смартфоны в рассрочку"
          opportunities2="Мощный Wi-Fi за 30 ₽"
          price="350"
          pricePerMonth=true
        }}
      </ul>

      <button type="button" class="gl-slider__slider-btn mod-prev">
        <svg width="26" height="26" aria-hidden="true" class="gl-slider__slider-btn-icon">
          <use xlink:href="#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="gl-slider__slider-btn mod-next">
        <svg width="26" height="26" aria-hidden="true" class="gl-slider__slider-btn-icon">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
