<section class="useful-information" id="useful-information-host">
  <div class="gl__page-content">
    <h2 class="gl__title">Полезная информация</h2>
    <div class="gl-slider__container">
      <ul class="gl-slider__wrapper">
        {{> main-page/useful-information/components/slide img="img/main-page/useful-information/image.jpg" title="Домофония" }}
        {{> main-page/useful-information/components/slide img="img/main-page/useful-information/image.jpg" title="Роуминг" }}
        {{> main-page/useful-information/components/slide img="img/main-page/useful-information/image-2.jpg" title="Приложения Таттелеком" }}
      </ul>
    </div>
  </div>
</section>
