<section class="useful-information" id="useful-information-host">
  <h2 class="gl__title">Полезная информация</h2>
  <ul class="useful-information__list">
    {{> main-page/useful-information/components/item
      itemTitle="Домофония"
      itemSubtitle="Видеодомофон с датчиком движения и удобным мобильным приложением"
      btnText=""
      img="img/main-page/useful-information/image.jpg"
    }}
    {{> main-page/useful-information/components/item
      itemTitle="Роуминг"
      itemSubtitle="Домашние цены в путешествиях всему миру!"
      btnText=""
      img="img/main-page/useful-information/image.jpg"
    }}
    {{> main-page/useful-information/components/item
      itemTitle="Приложение Таттелеком"
      itemSubtitle="Максимум возможностей для управления счётом и услугами"
      btnText=""
      img="img/main-page/useful-information/image.jpg"
    }}
  </ul>
</section>
