.application__content-main {
  max-width: 60%;
}

.application__form {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-gap: 3rem;
}

.application__btn-submit {
  border-radius: 20px;
}

.application__content {
  position: relative;
  z-index: 1;
}

.application__content-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: contain;
}
