.news-list {
  padding: 8rem 0;
}

.news-list__slide {
  padding: 1.2rem 2.2rem;
  overflow: hidden;
}

.news-list__slide-title {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 1.4rem;
}

.news-list__slide-text {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;
}

.news-list__link-arrow-wrapper {
  margin-top: 0;
}
