.rates-list__slide {
  padding: 2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60rem;
  border-radius: 20px;
  border: 1px solid #C7CED3;
  background-color: #fff;
}

.rates-list__slide-hit {
  background-color: #000;
  position: relative;
  color: #fff;

  .rates-list__slide-hit-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rates-list__slide-up {
  padding-bottom: 1.8rem;
}

.rates-list__slide-content {
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rates-list__slide-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.4rem;
  margin-bottom: 1rem;
}

.rates-list__slide-subtitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.rates-list__slide-item {
  font-size: 1.8rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: relative;

  & + & {
    margin-top: 1rem;
  }

  &:before {
    position: absolute;
    content: '';
    top: .6rem;
    left: 0;
    width: .4rem;
    height: .4rem;
    border-radius: 100%;
    background-color: var(--main-color);
  }
}

.rates-list__opportunities-wrapper {
  margin-top: 3rem;
  margin-bottom: 4.2rem;
}

.rates-list__opportunities-title {
  opacity: .3;
  margin-bottom: 1rem;
}

.rates-list__opportunities-text {
  max-width: 80%;
}

.rates-list__slide-price {
  margin-bottom: 1.4rem;
  font-size: 4.6rem;
  line-height: 5.4rem;
  display: flex;
  align-items: start;
  font-weight: 600;

  .small {
    font-size: 1.6rem;
    line-height: 3.4rem;
    font-weight: bold;
    padding-left: .8rem;
  }
}

.rates-list__slide-btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -1.4rem;
}

.rates-list__slide-btn-plug {
  width: 100%;
}

.rates-list__slide-hint-btn {
  height: 5rem;
  width: 5rem;
  margin-left: 1rem;
}

.rates-list__slide-hint-icon {
  height: 100%;
  fill: var(--main-color);

  &:hover {
    fill: var(--main-color-hover);
  }
}

