:root {
    --page-content-padding-fl: 40px;
    --page-content-padding-md-down: 30px;
    --page-content-padding-small: 20px;
    --page-content-padding-xxs-down: 16px;
    --font-riffic: 'MuseoSansCyrl';
    --main-text-color: #2B2B2B;
}
