:root {
    --page-content-padding-fl: 40px;
    --page-content-padding-md-down: 30px;
    --page-content-padding-small: 20px;
    --page-content-padding-xxs-down: 16px;
    --font-golos: 'Golos';
    --main-color: #F04E37;
    --main-color-hover: #ff7846;
    --main-background: #E7F2FA;
    --secondary-background: #FFDDD0;
    --main-text-color: #000;
}
