.gl__main-btn {
  padding: 1rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: var(--main-color);
  border-radius: 10px;
  color: #fff;
  border: 1px solid transparent;
  transition: background-color 250ms, border-color 250ms, color 250ms;
  white-space: nowrap;

  &:hover {
    background-color: var(--main-color-hover);
  }

  &.mod-transparent {
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);

    &:hover {
      background-color: var(--main-color);
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    &.mod-white {
      color: #fff;
      border-color: #fff;
    }

    &.mod-black {
      color: #000;
      border-color: #000;
    }

    &.mod-white, &.mod-black {
      &:hover {
        color: var(--main-color);
        border-color: var(--main-color);
        background-color: transparent;
      }
    }
  }

  &.mod-dark-background {
    background-color: transparent;
    border-color: var(--main-color);

    &:hover {
      background-color: var(--main-color);
      color: #fff;
      border-color: transparent;
    }
  }
}

.gl__link-show-all {
  display: flex;
  align-items: center;
  padding: 1.2rem 1.6rem;
}

.gl__link-show-all-icon {
  fill: var(--main-color);
  height: 2.4rem;
}
