@font-face {
    font-family: 'Golos';
    src: url('../assets/fonts/subset-GolosText-Bold.woff2') format('woff2'),
    url('../assets/fonts/subset-GolosText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: url('../assets/fonts/subset-GolosText-Medium.woff2') format('woff2'),
    url('../assets/fonts/subset-GolosText-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: url('../assets/fonts/subset-GolosText-Regular.woff2') format('woff2'),
    url('../assets/fonts/subset-GolosText-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
