@import 'sizes';

.gl__page-content {
  padding-left: var(--page-content-padding-fl);
  padding-right: var(--page-content-padding-fl);
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;

  @include for-md-down {
    padding-left: var(--page-content-padding-md-down);
    padding-right: var(--page-content-padding-md-down);
  }

  @include for-sm-down {
    padding-left: var(--page-content-padding-small);
    padding-right: var(--page-content-padding-small);
  }

  @include for-xxs-down {
    padding-left: var(--page-content-padding-xxs-down);
    padding-right: var(--page-content-padding-xxs-down);
  }
}

.gl__layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.gl__layout-content {
  flex: 1 1 100%;
}

.gl__title-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1rem;
  margin-right: -1rem;
  margin-bottom: 4rem;

  .gl__title {
    margin-bottom: 0;
  }
}

.gl__title {
  font-size: 3.8rem;
  line-height: 5rem;
  letter-spacing: 0.015em;
  margin-bottom: 5rem;
}

.gl__white-container {
  box-shadow: 0 0 12px 4px #0000000f;
  background-color: #fff;
  border-radius: 10px;
}
